In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('AllMatch.csv')
df_match = pd.read_csv("matches.csv")

In [3]:
df.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [4]:
df.shape

(193468, 18)

In [5]:
df.id.unique().shape

(816,)

In [6]:
df_match

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [7]:
df_match.method.describe()

count      19
unique      1
top       D/L
freq       19
Name: method, dtype: object

In [8]:
arr1 = df_match.umpire1.unique()
arr1.shape

(48,)

In [9]:
arr2 = df_match.umpire2.unique()
# arr2 = df_match.umpire3.unique()

In [10]:
arr1 = np.append(arr1,arr2)

In [11]:
arr1 = np.unique(arr1)

In [12]:
arr1.shape

(56,)

In [13]:
df.keys()

Index(['id', 'inning', 'over', 'ball', 'batsman', 'non_striker', 'bowler',
       'batsman_runs', 'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team'],
      dtype='object')

In [14]:
df.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [15]:
for i in df_match.keys():
    print("--------------------------------------------------")
    print(i)
    print(df_match[i].unique())
#     print("--------------------------------------------------")

--------------------------------------------------
id
[ 335982  335983  335984  335985  335986  335987  335988  335989  335990
  335991  335992  335993  335994  335995  335996  335997  335998  335999
  336000  336001  336002  336003  336004  336005  336006  336007  336008
  336009  336010  336011  336012  336013  336014  336015  336016  336017
  336018  336019  336020  336021  336022  336023  336024  336025  336026
  336027  336028  336029  336031  336032  336033  336034  336035  336036
  336037  336038  336039  336040  392181  392182  392183  392184  392185
  392186  392188  392189  392190  392191  392192  392194  392195  392196
  392197  392198  392199  392200  392201  392202  392203  392204  392205
  392206  392207  392208  392209  392210  392211  392212  392213  392214
  392215  392216  392217  392218  392219  392220  392221  392222  392223
  392224  392225  392226  392227  392228  392229  392230  392231  392232
  392233  392234  392235  392236  392237  392238  392239  419106  419107
  419108  419109  419110  419111  419112  419113  419114  419115  419116
  419117  419118  419119  419120  419121  419122  419123  419124  419125
  419126  419127  419128  419129  419130  419131  419132  419133  419134
  419135  419136  419137  419138  419139  419140  419141  419142  419143
  419144  419145  419146  419147  419148  419149  419150  419151  419152
  419153  419154  419155  419156  419157  419158  419159  419160  419161
  419162  419163  419164  419165  501198  501199  501200  501201  501202
  501203  501204  501205  501206  501207  501208  501209  501210  501211
  501212  501213  501214  501215  501216  501218  501219  501220  501221
  501222  501223  501224  501225  501226  501227  501228  501229  501230
  501231  501232  501233  501234  501235  501236  501237  501238  501239
  501240  501241  501242  501243  501244  501245  501246  501247  501248
  501249  501250  501251  501252  501253  501254  501255  501256  501257
  501258  501259  501260  501261  501262  501263  501264  501265  501266
  501267  501268  501269  501270  501271  548306  548307  548308  548309
  548310  548311  548312  548313  548314  548315  548316  548317  548318
  548319  548320  548321  548322  548323  548324  548325  548326  548327
  548328  548329  548330  548331  548332  548333  548334  548335  548336
  548337  548339  548341  548342  548343  548344  548345  548346  548347
  548348  548349  548350  548351  548352  548353  548354  548355  548356
  548357  548358  548359  548360  548361  548362  548363  548364  548365
  548366  548367  548368  548369  548370  548371  548372  548373  548374
  548375  548376  548377  548378  548379  548380  548381  597998  597999
  598000  598001  598002  598003  598004  598005  598006  598007  598008
  598009  598010  598011  598012  598013  598014  598015  598016  598017
  598018  598019  598020  598021  598022  598023  598024  598025  598026
  598027  598028  598029  598030  598031  598032  598033  598034  598035
  598036  598037  598038  598039  598040  598041  598042  598043  598044
  598045  598046  598047  598048  598049  598050  598051  598052  598053
  598054  598055  598056  598057  598058  598059  598060  598061  598062
  598063  598064  598065  598066  598067  598068  598069  598070  598071
  598072  598073  729279  729281  729283  729285  729287  729289  729291
  729293  729295  729297  729299  729301  729303  729305  729307  729309
  729311  729313  729315  729317  733971  733973  733975  733977  733979
  733981  733983  733985  733987  733989  733991  733993  733995  733997
  733999  734001  734003  734005  734007  734009  734011  734013  734015
  734017  734019  734021  734023  734025  734027  734029  734031  734033
  734035  734037  734039  734041  734043  734045  734047  734049  829705
  829707  829709  829711  829713  829715  829717  829719  829721  829723
  829725  829727  829729  829731  829733  829735  829737  829739  829741
  829743  829745  829747  829749  829751  829753  829757  829759  829761
  829763  829765  829767  829769  829771  829773  829775  829777  829779
  829781  829783  829785  829787  829789  829791  829793  829795  829797
  829799  829801  829803  829805  829807  829809  829811  829813  829815
  829817  829819  829821  829823  980901  980903  980905  980907  980909
  980911  980913  980915  980917  980919  980921  980923  980925  980927
  980929  980931  980933  980935  980937  980939  980941  980943  980945
  980947  980949  980951  980953  980955  980957  980959  980961  980963
  980965  980967  980969  980971  980973  980975  980977  980979  980981
  980983  980985  980987  980989  980991  980993  980995  980997  980999
  981001  981003  981005  981007  981009  981011  981013  981015  981017
  981019 1082591 1082592 1082593 1082594 1082595 1082596 1082597 1082598
 1082599 1082600 1082601 1082602 1082603 1082604 1082605 1082606 1082607
 1082608 1082609 1082610 1082611 1082612 1082613 1082614 1082615 1082616
 1082617 1082618 1082620 1082621 1082622 1082623 1082624 1082625 1082626
 1082627 1082628 1082629 1082630 1082631 1082632 1082633 1082634 1082635
 1082636 1082637 1082638 1082639 1082640 1082641 1082642 1082643 1082644
 1082645 1082646 1082647 1082648 1082649 1082650 1136561 1136562 1136563
 1136564 1136565 1136566 1136567 1136568 1136569 1136570 1136571 1136572
 1136573 1136574 1136575 1136576 1136577 1136578 1136579 1136580 1136581
 1136582 1136583 1136584 1136585 1136586 1136587 1136588 1136589 1136590
 1136591 1136592 1136593 1136594 1136595 1136596 1136597 1136598 1136599
 1136600 1136601 1136602 1136603 1136604 1136605 1136606 1136607 1136608
 1136609 1136610 1136611 1136612 1136613 1136614 1136615 1136616 1136617
 1136618 1136619 1136620 1175356 1175357 1175358 1175359 1175360 1175361
 1175362 1175363 1175364 1175365 1175366 1175367 1175368 1175369 1175370
 1175371 1175372 1178393 1178394 1178395 1178396 1178397 1178398 1178399
 1178400 1178401 1178402 1178403 1178404 1178405 1178406 1178407 1178408
 1178409 1178410 1178411 1178412 1178413 1178414 1178415 1178416 1178417
 1178418 1178419 1178420 1178421 1178422 1178423 1178424 1178425 1178426
 1178427 1178428 1178429 1178430 1178431 1181764 1181766 1181767 1181768
 1216492 1216493 1216494 1216495 1216496 1216497 1216498 1216499 1216500
 1216501 1216502 1216503 1216504 1216505 1216506 1216507 1216508 1216509
 1216510 1216511 1216512 1216513 1216514 1216515 1216516 1216517 1216518
 1216519 1216520 1216521 1216522 1216523 1216524 1216525 1216526 1216527
 1216528 1216529 1216530 1216531 1216532 1216533 1216534 1216535 1216536
 1216537 1216538 1216539 1216540 1216541 1216542 1216543 1216544 1216545
 1216546 1216547 1237177 1237178 1237180 1237181]
--------------------------------------------------
city
['Bangalore' 'Chandigarh' 'Delhi' 'Mumbai' 'Kolkata' 'Jaipur' 'Hyderabad'
 'Chennai' 'Cape Town' 'Port Elizabeth' 'Durban' 'Centurion' 'East London'
 'Johannesburg' 'Kimberley' 'Bloemfontein' 'Ahmedabad' 'Cuttack' 'Nagpur'
 'Dharamsala' 'Kochi' 'Indore' 'Visakhapatnam' 'Pune' 'Raipur' 'Ranchi'
 'Abu Dhabi' nan 'Rajkot' 'Kanpur' 'Bengaluru' 'Dubai' 'Sharjah']
--------------------------------------------------
date
['2008-04-18' '2008-04-19' '2008-04-20' '2008-04-21' '2008-04-22'
 '2008-04-23' '2008-04-24' '2008-04-25' '2008-04-26' '2008-04-27'
 '2008-04-28' '2008-04-29' '2008-04-30' '2008-05-01' '2008-05-02'
 '2008-05-25' '2008-05-03' '2008-05-04' '2008-05-05' '2008-05-06'
 '2008-05-07' '2008-05-08' '2008-05-09' '2008-05-28' '2008-05-10'
 '2008-05-11' '2008-05-12' '2008-05-13' '2008-05-14' '2008-05-15'
 '2008-05-16' '2008-05-17' '2008-05-18' '2008-05-19' '2008-05-20'
 '2008-05-21' '2008-05-23' '2008-05-24' '2008-05-26' '2008-05-27'
 '2008-05-30' '2008-05-31' '2008-06-01' '2009-04-18' '2009-04-19'
 '2009-04-20' '2009-04-21' '2009-04-22' '2009-04-23' '2009-04-24'
 '2009-04-25' '2009-04-26' '2009-04-27' '2009-04-28' '2009-04-29'
 '2009-04-30' '2009-05-01' '2009-05-02' '2009-05-03' '2009-05-04'
 '2009-05-05' '2009-05-06' '2009-05-07' '2009-05-08' '2009-05-09'
 '2009-05-10' '2009-05-11' '2009-05-12' '2009-05-13' '2009-05-14'
 '2009-05-15' '2009-05-16' '2009-05-17' '2009-05-18' '2009-05-19'
 '2009-05-20' '2009-05-21' '2009-05-22' '2009-05-23' '2009-05-24'
 '2010-03-12' '2010-03-13' '2010-03-14' '2010-03-15' '2010-03-16'
 '2010-03-17' '2010-03-18' '2010-03-19' '2010-03-20' '2010-03-21'
 '2010-03-22' '2010-03-23' '2010-03-24' '2010-03-25' '2010-03-26'
 '2010-03-27' '2010-03-28' '2010-03-29' '2010-03-30' '2010-03-31'
 '2010-04-01' '2010-04-02' '2010-04-03' '2010-04-04' '2010-04-05'
 '2010-04-06' '2010-04-07' '2010-04-08' '2010-04-09' '2010-04-10'
 '2010-04-11' '2010-04-12' '2010-04-13' '2010-04-14' '2010-04-15'
 '2010-04-16' '2010-04-17' '2010-04-18' '2010-04-19' '2010-04-21'
 '2010-04-22' '2010-04-24' '2010-04-25' '2011-04-08' '2011-04-09'
 '2011-04-10' '2011-04-11' '2011-04-12' '2011-04-13' '2011-04-14'
 '2011-04-15' '2011-04-16' '2011-04-17' '2011-04-18' '2011-04-19'
 '2011-04-20' '2011-04-21' '2011-04-22' '2011-04-23' '2011-04-24'
 '2011-04-25' '2011-04-26' '2011-04-27' '2011-04-28' '2011-04-29'
 '2011-04-30' '2011-05-01' '2011-05-02' '2011-05-03' '2011-05-04'
 '2011-05-05' '2011-05-06' '2011-05-07' '2011-05-08' '2011-05-09'
 '2011-05-10' '2011-05-11' '2011-05-12' '2011-05-13' '2011-05-14'
 '2011-05-15' '2011-05-16' '2011-05-17' '2011-05-18' '2011-05-19'
 '2011-05-20' '2011-05-21' '2011-05-22' '2011-05-24' '2011-05-25'
 '2011-05-27' '2011-05-28' '2012-04-04' '2012-04-05' '2012-04-06'
 '2012-04-07' '2012-04-08' '2012-04-09' '2012-04-10' '2012-04-11'
 '2012-04-12' '2012-04-13' '2012-04-19' '2012-04-14' '2012-04-15'
 '2012-04-16' '2012-04-17' '2012-04-18' '2012-05-10' '2012-04-20'
 '2012-04-21' '2012-04-22' '2012-04-23' '2012-04-24' '2012-04-25'
 '2012-04-26' '2012-04-27' '2012-04-28' '2012-04-29' '2012-04-30'
 '2012-05-01' '2012-05-02' '2012-05-03' '2012-05-04' '2012-05-05'
 '2012-05-06' '2012-05-07' '2012-05-08' '2012-05-09' '2012-05-11'
 '2012-05-12' '2012-05-13' '2012-05-14' '2012-05-15' '2012-05-16'
 '2012-05-17' '2012-05-18' '2012-05-19' '2012-05-20' '2012-05-22'
 '2012-05-23' '2012-05-25' '2012-05-27' '2013-04-03' '2013-04-04'
 '2013-04-05' '2013-04-06' '2013-04-07' '2013-04-08' '2013-04-09'
 '2013-04-10' '2013-04-11' '2013-04-12' '2013-04-13' '2013-04-14'
 '2013-04-15' '2013-04-16' '2013-04-17' '2013-04-18' '2013-04-19'
 '2013-04-20' '2013-04-21' '2013-04-22' '2013-04-23' '2013-05-16'
 '2013-04-24' '2013-04-25' '2013-04-26' '2013-04-27' '2013-04-28'
 '2013-04-29' '2013-04-30' '2013-05-01' '2013-05-02' '2013-05-03'
 '2013-05-04' '2013-05-14' '2013-05-05' '2013-05-07' '2013-05-08'
 '2013-05-09' '2013-05-10' '2013-05-11' '2013-05-12' '2013-05-13'
 '2013-05-15' '2013-05-06' '2013-05-17' '2013-05-18' '2013-05-19'
 '2013-05-21' '2013-05-22' '2013-05-24' '2013-05-26' '2014-04-16'
 '2014-04-17' '2014-04-18' '2014-04-19' '2014-04-20' '2014-04-21'
 '2014-04-22' '2014-04-23' '2014-04-24' '2014-04-25' '2014-04-26'
 '2014-04-27' '2014-04-28' '2014-04-29' '2014-04-30' '2014-05-02'
 '2014-05-03' '2014-05-04' '2014-05-05' '2014-05-06' '2014-05-07'
 '2014-05-08' '2014-05-09' '2014-05-10' '2014-05-11' '2014-05-12'
 '2014-05-13' '2014-05-14' '2014-05-15' '2014-05-18' '2014-05-19'
 '2014-05-20' '2014-05-21' '2014-05-22' '2014-05-23' '2014-05-24'
 '2014-05-25' '2014-05-27' '2014-05-28' '2014-05-30' '2014-06-01'
 '2015-04-08' '2015-04-09' '2015-04-10' '2015-04-11' '2015-04-12'
 '2015-04-13' '2015-04-14' '2015-04-30' '2015-04-15' '2015-04-16'
 '2015-04-17' '2015-04-18' '2015-04-19' '2015-04-20' '2015-04-21'
 '2015-04-22' '2015-04-23' '2015-04-24' '2015-04-25' '2015-04-26'
 '2015-04-27' '2015-05-07' '2015-04-29' '2015-04-28' '2015-05-01'
 '2015-05-02' '2015-05-03' '2015-05-04' '2015-05-05' '2015-05-06'
 '2015-05-08' '2015-05-09' '2015-05-10' '2015-05-11' '2015-05-12'
 '2015-05-13' '2015-05-14' '2015-05-15' '2015-05-16' '2015-05-17'
 '2015-05-19' '2015-05-20' '2015-05-22' '2015-05-24' '2016-04-09'
 '2016-04-10' '2016-04-11' '2016-04-12' '2016-04-13' '2016-04-14'
 '2016-04-15' '2016-04-16' '2016-04-17' '2016-04-18' '2016-04-19'
 '2016-04-20' '2016-04-21' '2016-04-22' '2016-04-23' '2016-04-24'
 '2016-04-25' '2016-04-26' '2016-04-27' '2016-04-28' '2016-04-29'
 '2016-04-30' '2016-05-01' '2016-05-02' '2016-05-03' '2016-05-04'
 '2016-05-05' '2016-05-06' '2016-05-07' '2016-05-08' '2016-05-09'
 '2016-05-10' '2016-05-11' '2016-05-12' '2016-05-13' '2016-05-14'
 '2016-05-15' '2016-05-16' '2016-05-17' '2016-05-18' '2016-05-19'
 '2016-05-20' '2016-05-21' '2016-05-22' '2016-05-24' '2016-05-25'
 '2016-05-27' '2016-05-29' '2017-04-05' '2017-04-06' '2017-04-07'
 '2017-04-08' '2017-04-09' '2017-04-10' '2017-04-11' '2017-04-12'
 '2017-04-13' '2017-04-14' '2017-04-15' '2017-04-16' '2017-04-17'
 '2017-04-18' '2017-04-19' '2017-04-20' '2017-04-21' '2017-04-22'
 '2017-04-23' '2017-04-24' '2017-04-26' '2017-04-27' '2017-04-28'
 '2017-04-29' '2017-04-30' '2017-05-01' '2017-05-02' '2017-05-03'
 '2017-05-04' '2017-05-05' '2017-05-06' '2017-05-07' '2017-05-08'
 '2017-05-09' '2017-05-10' '2017-05-11' '2017-05-12' '2017-05-13'
 '2017-05-14' '2017-05-16' '2017-05-17' '2017-05-19' '2017-05-21'
 '2018-04-07' '2018-04-08' '2018-04-09' '2018-04-10' '2018-04-11'
 '2018-04-12' '2018-04-13' '2018-04-14' '2018-04-15' '2018-04-16'
 '2018-04-17' '2018-04-18' '2018-04-19' '2018-04-20' '2018-04-21'
 '2018-04-22' '2018-04-23' '2018-04-24' '2018-04-25' '2018-04-26'
 '2018-04-27' '2018-04-28' '2018-04-29' '2018-04-30' '2018-05-01'
 '2018-05-02' '2018-05-03' '2018-05-04' '2018-05-05' '2018-05-06'
 '2018-05-07' '2018-05-08' '2018-05-09' '2018-05-10' '2018-05-11'
 '2018-05-12' '2018-05-13' '2018-05-14' '2018-05-15' '2018-05-16'
 '2018-05-17' '2018-05-18' '2018-05-19' '2018-05-20' '2018-05-22'
 '2018-05-23' '2018-05-25' '2018-05-27' '2019-03-23' '2019-03-24'
 '2019-03-25' '2019-03-26' '2019-03-27' '2019-03-28' '2019-03-29'
 '2019-03-30' '2019-03-31' '2019-04-01' '2019-04-02' '2019-04-03'
 '2019-04-04' '2019-04-05' '2019-04-06' '2019-04-07' '2019-04-08'
 '2019-04-09' '2019-04-10' '2019-04-11' '2019-04-12' '2019-04-13'
 '2019-04-14' '2019-04-15' '2019-04-16' '2019-04-17' '2019-04-18'
 '2019-04-19' '2019-04-20' '2019-04-21' '2019-04-22' '2019-04-23'
 '2019-04-24' '2019-04-25' '2019-04-26' '2019-04-27' '2019-04-28'
 '2019-04-29' '2019-04-30' '2019-05-01' '2019-05-02' '2019-05-03'
 '2019-05-04' '2019-05-05' '2019-05-07' '2019-05-08' '2019-05-10'
 '2019-05-12' '2020-09-19' '2020-09-20' '2020-10-21' '2020-11-03'
 '2020-09-22' '2020-10-24' '2020-10-28' '2020-10-09' '2020-10-07'
 '2020-10-31' '2020-10-01' '2020-09-30' '2020-11-02' '2020-11-01'
 '2020-10-11' '2020-09-23' '2020-10-17' '2020-09-24' '2020-10-06'
 '2020-10-18' '2020-10-04' '2020-10-03' '2020-10-02' '2020-10-22'
 '2020-10-05' '2020-10-26' '2020-10-23' '2020-10-10' '2020-10-27'
 '2020-10-16' '2020-09-27' '2020-10-13' '2020-10-15' '2020-09-29'
 '2020-10-19' '2020-09-21' '2020-10-29' '2020-10-30' '2020-09-25'
 '2020-10-12' '2020-10-25' '2020-10-08' '2020-10-14' '2020-09-26'
 '2020-10-20' '2020-09-28' '2020-11-05' '2020-11-06' '2020-11-08'
 '2020-11-10']
--------------------------------------------------
player_of_match
['BB McCullum' 'MEK Hussey' 'MF Maharoof' 'MV Boucher' 'DJ Hussey'
 'SR Watson' 'V Sehwag' 'ML Hayden' 'YK Pathan' 'KC Sangakkara' 'JDP Oram'
 'AC Gilchrist' 'SM Katich' 'MS Dhoni' 'ST Jayasuriya' 'GD McGrath'
 'SE Marsh' 'SA Asnodkar' 'R Vinay Kumar' 'IK Pathan' 'SM Pollock'
 'Sohail Tanvir' 'S Sreesanth' 'A Nehra' 'SC Ganguly' 'CRD Fernando'
 'L Balaji' 'Shoaib Akhtar' 'A Mishra' 'DPMD Jayawardene' 'GC Smith'
 'DJ Bravo' 'M Ntini' 'SP Goswami' 'A Kumble' 'KD Karthik' 'JA Morkel'
 'P Kumar' 'Umar Gul' 'SK Raina' 'SR Tendulkar' 'R Dravid' 'DL Vettori'
 'RP Singh' 'M Muralitharan' 'CH Gayle' 'AB de Villiers' 'RS Bopara'
 'PP Ojha' 'TM Dilshan' 'HH Gibbs' 'DP Nannes' 'JP Duminy' 'Yuvraj Singh'
 'SB Jakati' 'JH Kallis' 'G Gambhir' 'RG Sharma' 'A Singh' 'S Badrinath'
 'DR Smith' 'LRPL Taylor' 'Harbhajan Singh' 'R Bhatia' 'SK Warne' 'B Lee'
 'BJ Hodge' 'LR Shukla' 'MK Pandey' 'AD Mathews' 'MK Tiwary' 'WPUJC Vaas'
 'A Symonds' 'AA Jhunjhunwala' 'J Theron' 'RV Uthappa' 'AC Voges'
 'KM Jadhav' 'NV Ojha' 'DA Warner' 'SL Malinga' 'M Vijay' 'KP Pietersen'
 'AT Rayudu' 'PD Collingwood' 'MJ Lumb' 'TL Suman' 'RJ Harris' 'PP Chawla'
 'Harmeet Singh' 'KA Pollard' 'R Ashwin' 'R McLaren' 'JD Unadkat'
 'M Kartik' 'DE Bollinger' 'S Anirudha' 'SK Trivedi' 'SB Wagh'
 'PC Valthaty' 'MD Mishra' 'DW Steyn' 'S Sohal' 'MM Patel' 'V Kohli'
 'I Sharma' 'J Botha' 'Iqbal Abdulla' 'P Parameswaran' 'R Sharma'
 'MR Marsh' 'BA Bhatt' 'S Aravind' 'WP Saha' 'S Dhawan' nan 'JEC Franklin'
 'RE Levi' 'SPD Smith' 'AM Rahane' 'RA Jadeja' 'MN Samuels' 'M Morkel'
 'F du Plessis' 'AD Mascarenhas' 'Shakib Al Hasan' 'JD Ryder' 'SP Narine'
 'S Nadeem' 'KMDN Kulasekara' 'CL White' 'Mandeep Singh' 'P Negi'
 'Azhar Mahmood' 'BW Hilfenhaus' 'A Chandila' 'UT Yadav' 'MS Bisla'
 'M Vohra' 'GH Vihari' 'AJ Finch' 'JP Faulkner' 'MS Gony' 'DA Miller'
 'SV Samson' 'DJG Sammy' 'MG Johnson' 'KK Cooper' 'PA Patel' 'AP Tare'
 'LJ Wright' 'YS Chahal' 'GJ Maxwell' 'CA Lynn' 'MM Sharma' 'PV Tambe'
 'Sandeep Sharma' 'B Kumar' 'CJ Anderson' 'KK Nair' 'AR Patel'
 'LMP Simmons' 'DJ Hooda' 'GJ Bailey' 'AD Russell' 'MA Agarwal' 'SS Iyer'
 'MA Starc' 'VR Aaron' 'TA Boult' 'NM Coulter-Nile' 'EJG Morgan'
 'HH Pandya' 'MC Henriques' 'Z Khan' 'MJ McClenaghan' 'Q de Kock'
 'Mustafizur Rahman' 'SA Yadav' 'AB Dinda' 'CH Morris' 'CR Brathwaite'
 'RR Pant' 'MP Stoinis' 'A Zampa' 'KH Pandya' 'HM Amla' 'BCJ Cutting'
 'Rashid Khan' 'N Rana' 'JJ Bumrah' 'AJ Tye' 'BA Stokes' 'KS Williamson'
 'JC Buttler' 'LH Ferguson' 'Mohammed Shami' 'RA Tripathi'
 'Mohammed Siraj' 'HV Patel' 'Washington Sundar' 'KV Sharma' 'KL Rahul'
 'SW Billings' 'JJ Roy' 'B Stanlake' 'JC Archer' 'AS Rajpoot' 'TG Southee'
 'Mujeeb Ur Rahman' 'Ishan Kishan' 'Kuldeep Yadav' 'S Gopal' 'L Ngidi'
 'PP Shaw' 'JM Bairstow' 'SM Curran' 'AS Joseph' 'K Rabada' 'HF Gurney'
 'DL Chahar' 'Imran Tahir' 'KMA Paul' 'KK Ahmed' 'Shubman Gill'
 'SO Hetmyer' 'CV Varun' 'CJ Jordan' 'Shivam Mavi' 'A Nortje' 'RD Gaikwad'
 'R Tewatia' 'PK Garg' 'PJ Cummins']
--------------------------------------------------
venue
['M Chinnaswamy Stadium' 'Punjab Cricket Association Stadium, Mohali'
 'Feroz Shah Kotla' 'Wankhede Stadium' 'Eden Gardens'
 'Sawai Mansingh Stadium' 'Rajiv Gandhi International Stadium, Uppal'
 'MA Chidambaram Stadium, Chepauk' 'Dr DY Patil Sports Academy' 'Newlands'
 "St George's Park" 'Kingsmead' 'SuperSport Park' 'Buffalo Park'
 'New Wanderers Stadium' 'De Beers Diamond Oval' 'OUTsurance Oval'
 'Brabourne Stadium' 'Sardar Patel Stadium, Motera' 'Barabati Stadium'
 'Vidarbha Cricket Association Stadium, Jamtha'
 'Himachal Pradesh Cricket Association Stadium' 'Nehru Stadium'
 'Holkar Cricket Stadium'
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'
 'Subrata Roy Sahara Stadium'
 'Shaheed Veer Narayan Singh International Stadium'
 'JSCA International Stadium Complex' 'Sheikh Zayed Stadium'
 'Sharjah Cricket Stadium' 'Dubai International Cricket Stadium'
 'Maharashtra Cricket Association Stadium'
 'Punjab Cricket Association IS Bindra Stadium, Mohali'
 'Saurashtra Cricket Association Stadium' 'Green Park'
 'M.Chinnaswamy Stadium']
--------------------------------------------------
neutral_venue
[0 1]
--------------------------------------------------
team1
['Royal Challengers Bangalore' 'Kings XI Punjab' 'Delhi Daredevils'
 'Mumbai Indians' 'Kolkata Knight Riders' 'Rajasthan Royals'
 'Deccan Chargers' 'Chennai Super Kings' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Sunrisers Hyderabad' 'Gujarat Lions'
 'Rising Pune Supergiants' 'Rising Pune Supergiant' 'Delhi Capitals']
--------------------------------------------------
team2
['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Royal Challengers Bangalore' 'Deccan Chargers' 'Kings XI Punjab'
 'Delhi Daredevils' 'Mumbai Indians' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Sunrisers Hyderabad' 'Rising Pune Supergiants'
 'Gujarat Lions' 'Rising Pune Supergiant' 'Delhi Capitals']

In [16]:
winn = df_match.winner.value_counts()
winn

Mumbai Indians                 120
Chennai Super Kings            106
Kolkata Knight Riders           99
Royal Challengers Bangalore     91
Kings XI Punjab                 88
Rajasthan Royals                81
Delhi Daredevils                67
Sunrisers Hyderabad             66
Deccan Chargers                 29
Delhi Capitals                  19
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [17]:
winn = winn.reset_index()
winn

                          index  winner
0                Mumbai Indians     120
1           Chennai Super Kings     106
2         Kolkata Knight Riders      99
3   Royal Challengers Bangalore      91
4               Kings XI Punjab      88
5              Rajasthan Royals      81
6              Delhi Daredevils      67
7           Sunrisers Hyderabad      66
8               Deccan Chargers      29
9                Delhi Capitals      19
10                Gujarat Lions      13
11                Pune Warriors      12
12       Rising Pune Supergiant      10
13         Kochi Tuskers Kerala       6
14      Rising Pune Supergiants       5

In [18]:
df_match.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [19]:
clm = (df_match['date'][:].str[:4])

In [20]:
clm = clm.astype(int)

In [21]:
df_match['season'] = clm
df_match.keys()

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2',
       'season'],
      dtype='object')

In [22]:
# df_match = df_match.drop(('season', 1),axis = 'columns')

In [23]:
season = df_match[['id' ,'season' ]]

In [24]:
season

          id  season
0     335982    2008
1     335983    2008
2     335984    2008
3     335985    2008
4     335986    2008
..       ...     ...
811  1216547    2020
812  1237177    2020
813  1237178    2020
814  1237180    2020
815  1237181    2020

[816 rows x 2 columns]

In [25]:
df = df.merge(season , on='id')

In [26]:
df.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,season
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008

In [27]:
new = df.groupby(['season' , 'batsman']).sum('batsman_runs').sort_values(ascending=False , by='batsman_runs')

In [28]:
orcap = new['batsman_runs'].reset_index().drop_duplicates(subset='season' , keep = 'first')

In [29]:
orcap = orcap.sort_values('season')
orcap

    season        batsman  batsman_runs
16    2008       SE Marsh           616
21    2009      ML Hayden           572
15    2010   SR Tendulkar           618
17    2011       CH Gayle           608
3     2012       CH Gayle           733
4     2013     MEK Hussey           733
10    2014     RV Uthappa           660
25    2015      DA Warner           562
0     2016        V Kohli           973
12    2017      DA Warner           641
2     2018  KS Williamson           735
6     2019      DA Warner           692
9     2020       KL Rahul           670

In [30]:
df.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,season
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008

In [31]:
new =df[df['dismissal_kind'] !='run out']
new

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,season
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,2020
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,2020
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians,2020
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,2020
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,2020

In [32]:
new = df.groupby(['season' , 'bowler'])

In [33]:
lis=np.array(['run out','retired hurt','obstructing the field'])

In [34]:
new =new.sum('is_wicket').sort_values(by='is_wicket' , ascending=False)

In [35]:
purple = new['is_wicket'].reset_index().drop_duplicates(subset='season' , keep='first')

In [36]:
purple=purple.sort_values(by='season')
purple

    season         bowler  is_wicket
26    2008  Sohail Tanvir         24
17    2009       RP Singh         26
41    2010        PP Ojha         22
3     2011     SL Malinga         30
2     2012       M Morkel         30
0     2013       DJ Bravo         34
13    2014      MM Sharma         26
7     2015       DJ Bravo         28
22    2016        B Kumar         24
8     2017        B Kumar         28
10    2018         AJ Tye         28
9     2019       K Rabada         28
4     2020       K Rabada         30

In [37]:
finals = [
    "2008-06-01",
    "2009-05-24",
    "2010-04-25",
    "2011-05-28",
    "2012-05-27",
    "2013-05-26",
    "2014-06-01",
    "2015-05-24",
    "2016-05-29",
    "2017-05-21",
    "2018-05-27",
    "2019-05-12",
    "2020-11-10"  ]

In [38]:
df_match[df_match['date'].isin(finals)]

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,season
57,336040,Mumbai,2008-06-01,YK Pathan,Dr DY Patil Sports Academy,0,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,N,NaN,BF Bowden,RE Koertzen,2008
114,392239,Johannesburg,2009-05-24,A Kumble,New Wanderers Stadium,1,Royal Challengers Bangalore,Deccan Chargers,Royal Challengers Bangalore,field,Deccan Chargers,runs,6.0,N,NaN,RE Koertzen,SJA Taufel,2009
174,419165,Mumbai,2010-04-25,SK Raina,Dr DY Patil Sports Academy,0,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,Chennai Super Kings,runs,22.0,N,NaN,RE Koertzen,SJA Taufel,2010
247,501271,Chennai,2011-05-28,M Vijay,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,Chennai Super Kings,runs,58.0,N,NaN,Asad Rauf,SJA Taufel,2011
321,548381,Chennai,2012-05-27,MS Bisla,"MA Chidambaram Stadium, Chepauk",0,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,SJA Taufel,2012
397,598073,Kolkata,2013-05-26,KA Pollard,Eden Gardens,0,Chennai Super Kings,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,23.0,N,NaN,HDPK Dharmasena,SJA Taufel,2013
457,734049,Bangalore,2014-06-01,MK Pandey,M Chinnaswamy Stadium,0,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,3.0,N,NaN,HDPK Dharmasena,BNJ Oxenford,2014
516,829823,Kolkata,2015-05-24,RG Sharma,Eden Gardens,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Mumbai Indians,runs,41.0,N,NaN,HDPK Dharmasena,RK Illingworth,2015
576,981019,Bangalore,2016-05-29,BCJ Cutting,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,8.0,N,NaN,HDPK Dharmasena,BNJ Oxenford,2016
635,1082650,Hyderabad,2017-05-21,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",0,Mumbai Indians,Rising Pune Supergiant,Mumbai Indians,bat,Mumbai Indians,runs,1.0,N,NaN,NJ Llong,S Ravi,2017
695,1136620,Mumbai,2018-05-27,SR Watson,Wankhede Stadium,0,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,field,Chennai Super Kings,wickets,8.0,N,NaN,M Erasmus,S Ravi,2018
755,1181768,Hyderabad,2019-05-12,JJ Bumrah,"Rajiv Gandhi International Stadium, Uppal",0,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,runs,1.0,N,NaN,IJ Gould,Nitin Menon,2019
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020

In [60]:
df.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,season
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008

In [41]:
df.keys()

Index(['id', 'inning', 'over', 'ball', 'batsman', 'non_striker', 'bowler',
       'batsman_runs', 'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team', 'season'],
      dtype='object')

In [44]:
new = df[df.is_wicket ==1]

In [47]:
new.dismissal_kind.value_counts(0)

caught                   5743
bowled                   1700
run out                   893
lbw                       571
stumped                   294
caught and bowled         269
hit wicket                 12
retired hurt               11
obstructing the field       2
Name: dismissal_kind, dtype: int64

In [49]:
new = new[new.dismissal_kind !='run out']

In [57]:
purplecap = new.groupby(['season' , 'bowler'])['is_wicket'].sum().sort_values(ascending = False).reset_index().drop_duplicates(subset='season' , keep='first')

In [58]:
purplecap = purplecap.sort_values(by='season')
purplecap

    season         bowler  is_wicket
24    2008  Sohail Tanvir         22
17    2009       RP Singh         23
29    2010        PP Ojha         21
2     2011     SL Malinga         28
9     2012       M Morkel         25
0     2013       DJ Bravo         32
21    2014      MM Sharma         23
6     2015       DJ Bravo         26
20    2016        B Kumar         23
5     2017        B Kumar         26
12    2018         AJ Tye         24
7     2019    Imran Tahir         26
1     2020       K Rabada         30

In [64]:
caps = orcap.merge(purplecap , on='season')

In [69]:
caps = caps.rename(columns={"batsman_runs" : 'Total Runs' , "is_wicket" : 'Total Wickets'})

In [70]:
caps

    season        batsman  Total Runs         bowler  Total Wickets
0     2008       SE Marsh         616  Sohail Tanvir             22
1     2009      ML Hayden         572       RP Singh             23
2     2010   SR Tendulkar         618        PP Ojha             21
3     2011       CH Gayle         608     SL Malinga             28
4     2012       CH Gayle         733       M Morkel             25
5     2013     MEK Hussey         733       DJ Bravo             32
6     2014     RV Uthappa         660      MM Sharma             23
7     2015      DA Warner         562       DJ Bravo             26
8     2016        V Kohli         973        B Kumar             23
9     2017      DA Warner         641        B Kumar             26
10    2018  KS Williamson         735         AJ Tye             24
11    2019      DA Warner         692    Imran Tahir             26
12    2020       KL Rahul         670       K Rabada             30

In [ ]:
ct = 0;
def fifty(x):
    global ct;
    if x>50:
        ct+=1;
    return ct;